@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

.container{
    background-image: url('2456.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

.img-fluid{
    width: 150px;
    height:75px;
    overflow: hidden;
}

body{
    height: 100%;
    width: 100%;
}

nav{    
    position: sticky;
    top: -1px;
    overflow: hidden;
    background-color: #2f2f96;
    font-size: 30px;
    text-align: center;
    word-spacing: 35px;
    width:100%;
    z-index: 1;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav ul li{
    display: inline-block;
}

.nav li a{
    text-decoration: none;
}

.title{
    text-align: center;
    text-decoration: none;
    background-color: #4242af;
    color: #FFFBF5;
    margin-top: 0%;
    font-size: 30px;
    display: flex;
    align-items:center;
}

.logo{
    text-align: center;
    margin-top: 0%;
    font-size: 40px;
    display: flex;
    align-items:center;
}

h2.title{
    text-decoration: none;
}

a:visited{
    color:#FFFBF5;
}

a:link{
    color: #FFFBF5;
}

a:hover{
    color:#E07A5F;
}

a:active{
    color:#E07A5F;
}

.tbroom {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width:90%;
    margin-left: 5%;
    margin-top: 2%;
}
  
.tbroom td{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 5px;
}
  
.tbroom th{
    border: 2px double #dddddd;
    text-align: center;
    padding: 8px;
    background-color: #2f2f96;
    color:#dddddd;
}

.tbroom tr:nth-child(even) {
    background-color: #dddddd;
}

h2{
    text-align: center;
    margin-top: 2%;
    margin-left: 20px;
}

footer {
    display: flex;
    margin-top: 43%;
    justify-content: center;
    align-items: center;
    background-color: #2f2f96;
}
  
.bt{
    background-color: #dddddd;
    font-size: 15px;
    padding: 10px;
    border-radius: 3px;
    border: 1;
    margin: 10px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

.bt:hover{
    text-decoration: underline;
}

.bt:visited,.bt:active{
    color:#000000;
}

#room-select{
    background-position:center;
    background-size: auto 50%;
    border-radius:2px;
    color: #ffffff;
    padding: 10px 30px 10px 10px;
    background-color: #2f2f96;
    align-items: center;
    width:50%;
    margin-left: 25%;
    margin-top:5%;
    font-size: 15px;
}

.bt1{
    background-color: green ;
    font-size: 15PX;
    color: #dddddd;
    padding: 3%;
}

.bt1:hover{
    color:#E07A5F;
    padding: 4%;
}

.bt2{
    background-color: green ;
    font-size: 13px;
    color: #dddddd;
    padding: 11px;
}

.bt2:hover{
    color:#E07A5F;
    padding: 13px;
}


#time-select{
    background-position:center;
    background-size: auto 50%;
    border-radius:2px;
    color: #ffffff;
    padding: 10px 30px 10px 10px;
    background-color: #2f2f96;
    align-items: center;
    width:50%;
    margin-left: 25%;
    margin-top:5%;
    font-size: 15px;
}


.cancel{
    background-color: green ;
    font-size: 15PX;
    color: #dddddd;
    padding: 3%;
}