@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

.container{
    background-image: url('2456.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

.img-fluid{
    width: 150px;
    height:75px;
    overflow: hidden;
}

body{
    height: 100%;
    width: 100%;
}

nav{    
    position: sticky;
    top: -1px;
    overflow: hidden;
    background-color: #2f2f96;
    font-size: 30px;
    text-align: center;
    word-spacing: 35px;
    width:100%;
    z-index: 1;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav ul li{
    display: inline-block;
}

.nav li a{
    text-decoration: none;
}

.title{
    text-align: center;
    text-decoration: none;
    background-color: #4242af;
    color: #FFFBF5;
    margin-top: 0%;
    font-size: 30px;
    display: flex;
    align-items:center;
}

.logo{
    text-align: center;
    margin-top: 0%;
    font-size: 40px;
    display: flex;
    align-items:center;
}

h2.title{
    text-decoration: none;
}

a:visited{
    color:#FFFBF5;
}

a:link{
    color: #FFFBF5;
}

a:hover{
    color:#E07A5F;
}

a:active{
    color:#E07A5F;
}

.tbroom {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width:90%;
    margin-left: 5%;
    margin-top: 2%;
    background-color: white;
}
  
.tbroom td{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 5px;
    background-color: white;
}

.tbroom th{
    border: 2px double #dddddd;
    text-align: center;
    padding: 8px;
    background-color: #2f2f96;
    color:#dddddd;
}

.tbroom tr:nth-child(even) {
    background-color: #dddddd;
}

h2{
    text-align: center;
    margin-top: 2%;
    margin-left: 20px;
}

footer {
    display: flex;
    margin-top: 43%;
    justify-content: center;
    align-items: center;
    background-color: #2f2f96;
}
  
.bt{
    background-color: #dddddd;
    font-size: 15px;
    padding: 10px;
    border-radius: 3px;
    border: 1;
    margin: 10px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

.bt:hover{
    text-decoration: underline;
}

.bt:visited,.bt:active{
    color:#000000;
}

#room-select{
    background-position:center;
    background-size: auto 50%;
    border-radius:2px;
    color: #ffffff;
    padding: 10px 30px 10px 10px;
    background-color: #2f2f96;
    align-items: center;
    width:50%;
    margin-left: 25%;
    margin-top:5%;
    font-size: 15px;
}

.bt1{
    background-color: green ;
    font-size: 15PX;
    color: #dddddd;
    padding: 3%;
}

.bt1:hover{
    color:#E07A5F;
    padding: 4%;
}

.bt2{
    background-color: green ;
    font-size: 13px;
    color: #dddddd;
    padding: 11px;
}

.bt2:hover{
    color:#E07A5F;
    padding: 13px;
}


#time-select{
    background-position:center;
    background-size: auto 50%;
    border-radius:2px;
    color: #ffffff;
    padding: 10px 30px 10px 10px;
    background-color: #2f2f96;
    align-items: center;
    width:50%;
    margin-left: 25%;
    margin-top:5%;
    font-size: 15px;
}

.cancel{
    background-color: green ;
    font-size: 15PX;
    color: #dddddd;
    padding: 3%;
}

.login-main{
    margin: 0;
    padding: 0;  
    height: 100vh;
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden
}

.loginBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    min-height: 200px;
    background: #d8dde6;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box
}

.user{
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

h3{
    margin: 0;
    padding: 0 0 20px;
    color: #2f2f96;
    text-align: center;
    font-size: 16px;
}

.loginBox input{
    width: 100%;
    margin-bottom: 20px
}

.loginBox input[type="text"], .loginBox input[type="password"] {
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    height: 40px;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box
}

.loginBox input[type="text"]:hover, .loginBox input[type="password"]:hover{
    color: #2f2f96;
    border: 1px solid #2f2f96;
    box-shadow: 0 0 5px rgba(21, 0, 255, 0.411), 0 0 10px rgba(21, 0, 255, 0.411), 0 0 15px rgba(21, 0, 255, 0.411), 0 2px 0 black
}

.inputBox span{
    position: absolute;
    top: 10px;
    color: #262626
}

.loginBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #2f2f96;
    color: #fff;
    border-radius: 20px;
    cursor: pointer
}

.signup-main{
    margin: 0;
    padding: 0;  
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden
}

.signupBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    min-height: 200px;
    background: #d8dde6;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box
}
.signup-h3{
    margin: 0;
    padding: 0 0 50px;
    color: #2f2f96;
    text-align: center;
    font-size: 30px;
}

.signupBox input{
    width: 100%;
    margin-bottom: 20px
}

.signupBox input[type="text"] {
    border: 1px solid #5073b9;
    border-bottom: 2px solid #5073b9;
    outline: none;
    height: 40px;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box
}

.signupBox input[type="text"]:hover{
    color: #2f2f96;
    border: 1px solid #2f2f96;
    box-shadow: 0 0 5px rgba(21, 0, 255, 0.411), 0 0 10px rgba(21, 0, 255, 0.411), 0 0 15px rgba(21, 0, 255, 0.411), 0 2px 0 black
}

.signupBox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #2f2f96;
    color: #fff;
    border-radius: 20px;
    cursor: pointer
}