<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Login</title>
</head>
<body class="login-main"> 

    {% if message=="wrong" %}
            <script>
                alert("Wrong old Password.")
            </script>
    {% endif %}
  

    <div class="loginBox"> 
        <form action="/admin/change_password_try" method="post" class="login-form">
            <h3>Admin change password</h3>
            <div class="inputBox"> 
                <label for="password">Old Password</label>
                <input id="password" type="password" name="old_password" placeholder="old password" required>
                <p>Error message</p> 
            </div> 

            <div class="inputBox">
                <label for="password">New Password</label>
                <input id="password" type="password" name="new_password" placeholder="new password" required> 
                <p>Error message</p>
            </div>

            <div class="inputBox">
                <label for="password">Repeat New Password</label>
                <input id="password" type="password" name="new_password" placeholder="new password" required> 
                <p>Error message</p>
            </div>

            <input type="submit" name="signup" value="Change Password" class="input-login1">

        </form>          
    </div>
</body>
</html>