<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>Permission page</title>

    <script>
      function flash() {
        return confirm("Are you sure?")
      }
      function logout_flash() {
          return confirm("Confirm logout?")
        }
    </script>

  </head>
  <body>
    <header>
      <div class="title">
        <div class="logo">
          <a href="https://www.bcit.ca/">
            <img src="/static/css/bcit-logo.png" class="img-fluid" />
          </a>
          <h2 class="title">Book Study Space</h2>
        </div>
        <div class=right-side placeholder="Student ID" id="stuID"><p>admin</p>
          <a href="/logout" id="logout" onclick="return logout_flash()"><b>LOGOUT</b></a>
      </div>
      </div>
      <nav class="nav">
        <ul>
          <li><a href="/admin/approvals">Approvals</a></li>
          <li><a href="/admin">Bookings</a></li>
        </ul>
      </nav>
    </header>
    <h2></h2>
    <form action="/admin/approvals" method="POST">
      <br>
      <table class="tbroom" id="myTable">
        <thead>
          <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Approve</th>
          </tr>
        </thead>
        <tbody>

          {% for user in users %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>
              <button
                name="approval"
                type="submit"
                class="bt1"
                value="accept,{{ user.id }}"
                onclick="return flash()"
              >
                Approve
              </button>
              <button
              name="approval"
              type="submit"
              class="bt1-red"
              value="reject,{{ user.id }}"
              onclick="return flash()"
            >
              Reject
            </button>
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </form>
  </body>
</html>
