<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Login</title>
</head>
<body class="login-main"> 

    <script>
        function forgot_password_flash() {
          let id = prompt("Please enter your ID", "");
          if (id == "") {
            empty_flash();
          }
          else {
              email_sent_flash();
          }
        }

        function email_sent_flash() {
            alert("Password will be sent to your mail if you have an account.")
        }

        function empty_flash() {
            alert("You did not enter any ID.")
        }
    </script>

    {% if message=="not_exists" %}
    <script>
        window.onload = function flash_message(){
            alert("Student ID doesn't exists.")
        }
    </script>
    {% endif %}


    <div class="loginBox"> 
        <img class="user" src="../static\css\login-icon.png" height="120px" width="120px">
        <form action="forgot_password_try" method="post" class="login-form">
            <h3>Forgot Password</h3>
            <div class="inputBox"> 
                <label for="stuID">Student ID</label>
                <input id="stuID" type="text" name="Username" placeholder="A0" required>
                <p>Error message</p> 
            </div> 

            <input type="submit" name="signup" value="Submit" onclick="">

            <br>
            <br>
            <label> Email with the password will be sent to registered mail.</label>
        </form>          
    </div>
</body>
</html>