<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="../static/css/styles.css">
        <title>
            Book Study Space
        </title>
    </head>
    <body>
        <div class = "container">
        <header>   
            <div class ="title">
                <div class ="logo">
                <a href="https://www.bcit.ca/">
                    <img src="/static/css/bcit-logo.png" class="img-fluid"> 
                </a>
                <h2 class ="title">Book Study Space</h2>
                </div>
            </div>
            <nav class ="nav">

                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Veiw-By-Room</a></li>
                    <li><a href="">View-By-Time</a></li>
                    <li><a href="">View-Booked-Rooms</a></li>
                </ul>
            </nav>
        </header>
        <br>
            <form action="" method="POST">
                <select name="room" id="room-select">
                    <option value="">--Please choose a study room--</option>

                    <!-- <option name="room" value="582">Room 582</option>
                    <option name="room" value="583">Room 583</option>
                    <option name="room" value="586">Room 586</option>
                    <option name="room" value="587">Room 587</option>
                    <option name="room" value="666">Room 666</option>
                    <option name="room" value="667">Room 667</option>  
                    <option name="room" value="668">Room 668</option> -->
                    
                    {% for room in rooms %}
                        <option name="room" value="{{ room }}">Room {{ room }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="bt2">Select</button>
            </form>
    </body> 
</html>