<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>
            Study Room Booking
        </title>
    </head>
    <body>     
        <h1>Study Room Booking Web App</h1>
            <p>Rooms Available</p>
            <form action="" method="POST">
                <button type="submit" name="room" value="557">Room 557</button>
                <button type="submit" name="room" value="599">Room 599</button>
                <button type="submit" name="room" value="584">Room 584</button>
            </form>
    </body> 
</html>