<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Login</title>
</head>
<body class="login-main"> 

    <div class="loginBox"> 
        <img class="user" src="../static\css\login-icon.png" height="120px" width="120px">
        <form action="login.php" method="post" class="login-form">
            <h3>Study Room Booking Login</h3>
            <div class="inputBox"> 
                <label for="stuID">Student ID</label>
                <input id="stuID" type="text" name="Student ID" placeholder="Student ID"> 
    {% if id_exists=="no"%}
    <script>
        window.onload = function flash_message(){
            alert("ID doesn't exists. Please sign up.")
        }
    </script>
    {% endif %}
    {% if id_exists=="yes" %}
    <script>
        window.onload = function flash_message(){
            alert("Password wrong! Please retry.")
        }
    </script>
    {% endif %}

    <div class="loginBox"> 
        <img class="user" src="../static\css\login-icon.png" height="120px" width="120px">
        <form action="login" method="post" class="login-form">
            <h3>Study Room Booking Login</h3>
            <div class="inputBox"> 
                <label for="stuID">Student ID</label>
                <input id="stuID" type="text" name="Username" placeholder="Student ID"> 
            </div> 

            <div class="inputBox">
                <label for="password">Password</label>
                <input id="password" type="password" name="Password" placeholder="Password"> 
            </div> 

            <input type="submit" name="" value="Login">
            <input type="submit" name="signup" value="Sign Up">

        </form>  
    </div>
</body>
</html>