<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Login</title>
</head>
<body class="login-main"> 

    

    {% if id_exists=="sent" %}
    <script>
        window.onload = function flash_message(){
            alert("Password sent to the registered email.")
        }
    </script>
    {% endif %}

    {% if id_exists=="not approved" %}
    <script>
        window.onload = function flash_message(){
            alert("Account not approved by Administrator yet.")
        }
    </script>
    {% endif %}

    {% if id_exists=="exists" %}
    <script>
        window.onload = function flash_message(){
            alert("Account created. You will be able to login after administrator has verified your details.")
        }
    </script>
    {% endif %}

    {% if id_exists=="no"%}
    <script>
        window.onload = function flash_message(){
            alert("ID doesn't exists. Please sign up.")
        }
    </script>
    {% endif %}

    {% if id_exists=="yes" %}
    <script>
        window.onload = function flash_message(){
            alert("Password wrong! Please retry.")
        }
    </script>
    {% endif %}

    <div class="loginBox"> 
        <img class="user" src="../static\css\login-icon.png" height="120px" width="120px">
        <form action="login-try" method="post" class="login-form">
            <h3>Study Room Booking Login</h3>
            <div class="inputBox"> 
                <label for="stuID">Student ID</label>
                <input id="stuID" type="text" name="Username" placeholder="A0" required>
                <p>Error message</p> 
            </div> 

            <div class="inputBox">
                <label for="password">Password</label>
                <input id="password" type="password" name="Password" placeholder="Password" required> 
                <p>Error message</p>
            </div>

            <input type="submit" name="signup" value="Login" class="input-login1">
        </form>  

        <form action="login-try" method="post" class="login-form">
            <input type="submit" name="signup" value="Sign Up" class="input-login2">
            <div class="forgotpw">
                <a href="/forgotpassword" class="login-a" onclick=forgot_password_flash()> Forgot Password </a>
            </div>
        </form>        
    </div>
    <div class="footer">
        <p>Webapp created by Downtown Bookers</p>
        <p>Aaron Arcalas, Jacob Escarcha, Sandeep Kaur, Michelle Shin, Goutam Thukral</p>
    </div>
</body>
</html>