<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="../static/css/styles.css">
        <title>
            Study Room Booking
        </title>
    </head>
    <body>     
        <h1>Study Room Booking Web App</h1>
            <p>Room {{ room }} Details</p>
            <form action="" method="POST">
                <table>
                    <tr>
                        <td>
                            Time Slot
                        </td>
                        <td>
                            Availibility
                        </td>
                    </tr>
                    <tr>
                        <td>
                            8:00 
                        </td>
                        <td>
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td>
                            10:00 
                        </td>
                        <td>
                            Yes
                        </td>
                    </tr>
                </table>
            </form>
    </body> 
</html>