<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="../static/css/styles.css">
        <title>
            Book Study Space
        </title>

        <script>
            function flash(){
                alert("Room Booked Successfuly.")
            }
            function logout_flash() {
                return confirm("Confirm logout?")
            }
        </script>
        
    </head>
    <body>     
        <header>
        <div class ="title">
            <div class ="logo">
            <a href="https://www.bcit.ca/">
                <img src="/static/css/bcit-logo.png" class="img-fluid"> 
            </a>
            <h2 class ="title">Book Study Space</h2>
            </div>
            <div class=right-side placeholder="Student ID" id="stuID"><p>{{ name }}</p>
                <a href="/logout" id="logout"  onclick="return logout_flash()"><b>LOGOUT</b></a>
            </div>
        </div>
            <nav class ="nav">
                <ul>
                    <li><a href="/rooms">View-by-Rooms</a></li>
                    <li><a href="/timeslots">View-by-Timeslots</a></li>
                    <li><a href="/view_bookings">View-Bookings</a></li>
                </ul>
            </nav>
        </header>
        <h2>Timeslots for Room {{ room }}</h2>
            <form action="" method="POST">
                <table class = "tbroom" id="myTable">
                <thead>
                    <tr>
                        <th>Timeslots</th>
                        <th>Availability</th>
                        <th>Book</th>
                    </tr>
                </thead>
                <tbody>                                       
                    {% for availability in availabilities %}
                    {% set slot=availability["time_slot"] %}
                    <tr class="green">
                        <td><b>{{ availability["time_slot"] }}</b></td>
                        <td class="no">

                            {% if availability["available"]=="Yes" %}
                                <b>{{ availability["available"] }}</b>

                            {% else %}
                                {{ availability["available"] }}

                            {% endif %}
                        
                        </td>
                        <td>
                        {% if availability["available"]=="Yes" %}
                            <button name="booking" type="submit" class="bt1" value="{{ room }},{{ slot }}" onclick=flash()>Book</button>
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </form>
</body> 
</html>
