<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Sign UP</title>
</head>
<body class="signup-main"> 
    <div class="signupBox"> 
        <h3 class="signup-h3">Sign Up</h3>
        <form action="" method="post">
            <div class="inputBox-signun"> 
                <input id="name" type="text" name="Name" placeholder="Name"> 
                <input id="stuID" type="text" name="stuID" placeholder="Student ID"> 
                <input id="email" type="text" name="Email" placeholder="Email"> 
                <input id="password" type="text" name="Password" placeholder="Password"> 
            </div> 
                <input type="submit" name="" value="Sign Up">
        </form>  
    </div>
</body>
</html>
