<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Sign Up</title>
</head>

{% if id_exists=="yes"%}
<script>
    window.onload = function flash_message(){
        alert("ID already exists. Contact administrator.")
    }
</script>
{% endif %}

<body class="signup-body">

    <form action="signup-try" method="post" id="signup-form">
        <h3 class="signup-h3">Sign up here</h3>

        <div class="input-group">
            <label for="studentID">Student ID</label>
            <input type="text" id="studentID" name="studentID" placeholder="A0">
            <p>Error message</p>
        </div>

        <div class="input-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Name">
            <p></p>
        </div>

        <div class="input-group">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="user@my.bcit.ca">
            <p>Error message</p>
        </div>

        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter password">
            <p>Error message</p>
        </div>

        <div class="input-group">
            <label for="password2">Confirm Password</label>
            <input type="password" id="password2" placeholder="Re-enter password">
            <p>Error message</p>
        </div>

        <input type="submit" id="submit" value="Sign Up">

        <div class="back">
            <a href="login" class="back-a"> Have an account? Login here </a>
        </div>
        <script src="{{ url_for('static', filename='signup.js') }}"></script>
    </form>
</body>
</html>