<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>Book Study Space</title>

    <script>
      function flash() {
        return confirm("Are you sure?")
      }
      function logout_flash() {
        return confirm("Confirm logout?")
      }
      function myFunc() {
        if(document.URL.includes("view_bookings")){
          let bookings = document.getElementById("bookings_nav")
        }
      }
    </script>
  </head>
  <body onload="myFunc()">
    <header>
      <div class="title">
        <div class="logo">
          <a href="https://www.bcit.ca/">
            <img src="/static/css/bcit-logo.png" class="img-fluid" />
          </a>
          <h2 class="title">Book Study Space</h2>
        </div>
        <div class=right-side placeholder="Student ID" id="stuID"><p>{{ name }}</p>
          <a href="/logout" id="logout" onclick="return logout_flash()"><b>LOGOUT</b></a>
      </div>
      </div>
      <nav class="nav">
        <ul>
          <li><a href="/rooms">View-by-Rooms</a></li>
          <li><a href="/timeslots">View-by-Timeslots</a></li>
          <li><a class="selected_nav" href="/view_bookings">View-Bookings</a></li>
        </ul>
      </nav>
    </header>

    {% if bookings|length!=0 %}

      <h2>Rooms Booked</h2>
      <form action="" method="POST">
        <table class="tbroom" id="myTable">
          <thead>
            <tr>
              <th>Room</th>
              <th>Timeslots</th>
              <th>Cancel</th>
            </tr>
          </thead>
          <tbody>
            {% for booking in bookings %} {% set room_number=booking[0] %} {% set
            time_slot=booking[1] %}
            <tr>
              <td>{{ room_number }}</td>
              <td>{{ time_slot }}</td>
              <td>
                <button
                  name="booking"
                  type="submit"
                  class="bt1"
                  value="{{ room_number }},{{ time_slot }}"
                  onclick="return flash()"
                >
                  Cancel
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </form>

    {% else %}
    <h2>No Bookings made</h2>

    {% endif %}

  </body>
</html>
